:host {
    font-size: 1.4375rem;
    // line-height: 1.0rem;
}

.small {
    // font-size: .75em;
    font-size: .9375rem;
    line-height: 1.4em;
}

img {
    height: 1em;
    vertical-align: text-top;
}
