@use "../parts.scss";

h2 {
    font-size: 2em;
    margin-block-start: 30px;
    margin-block-end: 15px;
}

#sandbox {
    background: var(--background-beige);
    margin-block-start: 50px;
    border-block-end: 5px solid rgb(0, 0, 0, .2);
    padding-block: 30px;
    padding-inline: 0;
}

.sim-sandbox {
    display: flex;
    align-items: center;
    flex-direction: column;
}

app-election-model {
    background: white;
    padding: 20px;
}
