:host {
    margin: 50px 0;
    background: #efe9d5;
    width: 100%;
    height: 200px;
    border-bottom: 5px solid rgba(0, 0, 0, .2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-family: "Futura Handwritten", cursive;
    text-transform: uppercase;
    margin: 0;
    font-weight: lighter;
    color: #6d6861;
}

p.top {
    opacity: 60%;
}
p.bottom {
    font-size: 150%;
}

p .squared {
    background-image: url(/play/ballot/unchecked.webp);
    background-size: 100% 100%;

    display: inline flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
}
