@use "../parts.scss";

.ballot_title {
    font-size: 1.75em;
    margin-bottom: 0.15em;
    position: relative;
    left: 5px;
}

p.ballot_caption {
    margin-top: 0;
    font-size: 0.8em;
    text-align: center;
    width: 260px;
    line-height: 1.2em;
}

.sim-ballot {
    width: 670px;
    margin: 35px auto 50px auto;
}
