:host {
    margin: 50px 0;
    background: #efe9d5;
    width: 100%;
    height: 200px;
    border-bottom: 5px solid rgba(0, 0, 0, .2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-family: "./futurahandwritten.ttf", "Futura Handwritten", cursive;
    text-transform: uppercase;
    margin: 0;
    font-weight: lighter;
    color: #6d6861;
}

p.top {
    opacity: 60%;
}
p.bottom {
    font-size: 150%;
}

p .squared {
    border: 4px solid;
    display: inline flex;
    justify-content: center;
    min-width: 1.3em; // goal : make it square
}
