:host {
    background: #F0EAD6;

    border: 2px solid #fff;
    padding: 22px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: "Futura Handwritten", cursive;
    color: #6d6861;
}

:host * {
    margin: 0;
}

p.headline {
    font-size: 107%;
}

ol,
ul {
    line-height: 150%;
    list-style-type: none;
    padding-inline-start: 5px;
}

li img {
    width: 45px;
    height: 45px;
    vertical-align: bottom;
}
