@use "../../play/bottom-buttons.scss";

:host {
    font-size: 1.5625rem;
    line-height: 1.2em;
    color: #333;

    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
}

.model-caption {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
