@use "../inline-banners.scss";

#content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .words {
        max-inline-size: min(max(80px, 80vw), 670px);
    }

    p {
        line-height: 1.7em;
        // color: #333; // already set on the body
        // margin-inline: 0;
    }

    li {
        line-height: 1.5em;
    }

    .howtofight {
        p {
            margin-block: .5em;
        }

        h3 {
            margin-block-start: 1.5em;
            margin-block-end: .3em;

            + p {
                margin-block-start: 0;
            }
        }
    }
}

.signature {
    font-family: "Futura Handwritten", cursive;
    font-style: italic;
}

nav[app-nav] {
    position: absolute;
    inset-inline-start: calc(50% + 380px);

    margin-block-start: 50px;
}
