<p>
    <a href="https://ncase.me/ballot/">{{ originalLabel() }}</a>
</p>
<p>
    <b class="lbl">{{ translationsLabel() }}</b><br/>
    @for (localTl of localTranslations; track localTl.lang) {
        @if (lang !== localTl.lang) {
            <a
                [routerLink]="localTl.routerLink"
                [class.blink]="browserPrefLang() === localTl.lang"
            >
                {{ localTl.label }}</a><br/>
        }
    }
    <a href="https://antoniokov.com/voting/">русский</a><br/>
    <a href="https://pourdamghani.github.io/ballot/">فارسی</a>
</p>
<p>
    <a href="https://github.com/Gouvernathor/ballot-angular">{{ sourceCodeLabel() }}</a>
</p>
