<p>
    @if (displayAdditionalLinks()) {
        <a href="https://ncase.me/ballot/">
            @switch (lang) {
                @case ("en-CA") {
                    Original
                }
                @case ("fr-FR") {
                    Site original
                }
                @default {
                    <b [style.color]="'red'">TRANSLATION FOR {{lang}} MISSING</b>
                }
            }
        </a>
    } @else {
        @switch (lang) {
            @case ("en-CA") {
                <a [routerLink]="''">Home page</a>
            }
            @case ("fr-FR") {
                <a [routerLink]="'/fr-FR'">Page principale</a>
            }
            @default {
                <b [style.color]="'red'">TRANSLATION FOR {{lang}} MISSING</b>
            }
        }
    }
</p>
<p>
    <b class="lbl">
        @switch (lang) {
            @case ("en-CA") {
                Translations:
            }
            @case ("fr-FR") {
                Traductions&nbsp;:
            }
            @default {
                <span [style.color]="'red'">TRANSLATION FOR {{lang}} MISSING</span>
            }
        }
    </b><br/>
    @for (localTl of localTranslations(); track localTl.lang) {
        @if (lang !== localTl.lang) {
            <a
                [routerLink]="localTl.routerLink"
                [class.blink]="browserPrefLang() === localTl.lang"
            >
                {{ localTl.label }}</a><br/>
        }
    }
    @if (displayAdditionalLinks()) {
        <a href="https://antoniokov.com/voting/">русский</a><br/>
        <a href="https://pourdamghani.github.io/ballot/">فارسی</a>
    }
</p>
<p>
    <a href="https://github.com/Gouvernathor/ballot-angular">
        @switch (lang) {
            @case ("en-CA") {
                Full source code here!
            }
            @case ("fr-FR") {
                Tout le code source est ici&nbsp;!
            }
            @default {
                <b [style.color]="'red'">TRANSLATION FOR {{lang}} MISSING</b>
            }
        }
    </a>
</p>
