.banner {
    margin: 50px 0;
    background: #EFE9D5;
    width: 100%;
    height: 200px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);

    position: relative;
    overflow: hidden;
    margin-top: 0;
    height: 400px;
}

.banner .banner_title {
    margin: 0 auto;
    display: block;
    // width: 850px;
    // height: 200px;

    position: absolute;
    width: 960px;
    height: 200px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}
/* TODO fix these above...
it should be centered horizontally and vertically
with (probably) no width/height set
the selector should probably be .banner *
*/

.banner .banner_title {
    text-align: center;
    color: #4f4a45ee;
}

.banner .banner_title h1 {
    text-transform: uppercase;
    font-size: 67px;
    margin: 0;
    font-weight: 700;
}
.banner .banner_title h2 {
    font-size: 44px;
    margin: 0;
    font-weight: normal;
}
.banner .banner_title p {
    font-size: 25px;
    margin: 0;
    margin-top: 50px;
}
