:host {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 0 50px 0;
    background: #EFE9D5;
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    min-height: fit-content;
}

app-splash {
    margin-inline: auto;
    left: 0;
    right: 0;
    position: absolute;
}
.banner_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;

    ::ng-deep * {
        text-align: center;
        color: #4f4a45ee;
    }

    ::ng-deep .title {
        text-transform: uppercase;
        font-size: 4.2rem;
        margin: 0;
        font-weight: 700;
    }
    ::ng-deep .sub-title {
        font-size: 2.75rem;
        margin: 0;
        font-weight: normal;
    }
    ::ng-deep .comment {
        font-size: 1.5625rem;
        margin: 0;
        margin-top: 2em;
    }
}
