:host {
    display: grid;
    grid-template-areas: "singlearea";
    grid-template-columns: minmax(0, auto);
    align-items: center;
    justify-content: center;

    > * {
        grid-area: singlearea;
    }
}

:host {
    margin: 0 0 50px 0;
    background: var(--background-beige);
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
}

app-splash {
    // so that absolute-positioned inner elements are relative to it
    position: relative;
}

.banner_title {
    // this puts the title on top of splash, since splash is position relative
    // but then, the mouse events are intercepted by the title
    // position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    ::ng-deep * {
        text-align: center;
        color: #4f4a45ee;
    }

    ::ng-deep .title {
        text-transform: uppercase;
        font-size: 4.2rem;
        margin: 0;
        font-weight: 700;
    }
    ::ng-deep .sub-title {
        font-size: 2.75rem;
        margin: 0;
        font-weight: normal;
    }
    ::ng-deep .comment {
        font-size: 1.5625rem;
        margin: 0;
        margin-top: 2em;
    }
}
