:host {
    display: block;
    margin: 0 0 50px 0;
    background: #EFE9D5;
    width: 100%;
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    height: 400px;
}

:host > * {
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
}
.banner_title {
    display: block;
    width: 960px;
    height: 200px;
    margin: auto;
    top: 0;
    bottom: 0;
    pointer-events: none;

    * {
        text-align: center;
        color: #4f4a45ee;
    }

    .title {
        text-transform: uppercase;
        font-size: 67px;
        margin: 0;
        font-weight: 700;
    }
    .sub-title {
        font-size: 44px;
        margin: 0;
        font-weight: normal;
    }
    .comment {
        font-size: 25px;
        margin: 0;
        margin-top: 50px;
    }
}
