:host {
    display: block;
    margin-bottom: 10px;
}
.button-group {
    display: flex;
    flex-wrap: wrap;

    column-gap: 4px;
    row-gap: 5px;
}

.button-group-label {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.1em;
    margin-block-end: 5px;
}

button {
    // float: left;
    cursor: pointer;
    background: #bbb;
    color: #555;
    font-size: 1.125rem;
    font-weight: 300;
    text-align: center;
    padding: 2px;
    border: none;
    line-height: 30px;

    flex: 1;

    transition: all 0.1s;
}
button:hover {
    background: #ddd;
}
button:active {
    background: #aaa;
}

button.on {
    background: #333;
    color: white;
}
button.on:hover {
    background: #555;
}
button.on:active {
    background: #111;
}
