:host {
    // overflow: hidden;
    margin-bottom: 10px;
    // TODO make it flex and enable setting a number of lines
}

.button-group-label {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 5px;
    line-height: 1.1em;
}

button {
    // float: left;
    cursor: pointer;
    background: #bbb;
    color: #555;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 5px;
    padding: 2px 0;

    // position: relative;
    // top: 0;

    transition: all 0.1s;
}
button:hover {
    background: #ddd;
}
button:active {
    background: #aaa;
}

button[on] {
    background: #333;
    color: white;
}
button[on]:hover {
    background: #555;
}
button[on]:active {
    background: #111;
}
