<div class="button-group-label">{{ question() }}</div>

<div class="button-group">
    @for (option of options(); track option.name) {
        <button
            (click)="choice.emit(option.value)"
            [class.on]="option.value === currentValue()"
            [style.minWidth]="buttonMinWidth()"
        >
            @if (typeof option.name === "string") {
                {{ option.name }}
            } @else {
                <abbr [title]="option.name.full">{{ option.name.short }}</abbr>
            }
        </button>
    }
</div>
