:host {
    position: absolute;
    width: 120px;
    inset-inline-start: calc(50% + 380px);

    font-size: 17px;
}

.lbl {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

p {
    text-align: inherit;
    line-height: inherit;
    margin-top: 0;
}
