@use "../parts.scss";

.translations {
    position: absolute;
    width: 120px;
    font-size: 17px;
    left: calc(50% + 380px);
}

.translations h1 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

.translations p {
    text-align: inherit;
    line-height: inherit;
    margin-top: 0;
}

.sim-intro {
    // margin: 0 auto;
    // width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sim-intro .caption {
    margin-top: 8px;
}
