@use "../parts.scss";

app-translations {
    position: absolute;
    width: 120px;
    left: calc(50% + 380px);
}

.sim-intro {
    // margin: 0 auto;
    // width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sim-intro .caption {
    margin-top: 8px;
}
