<svg width="100%" height="100%">
    <!-- draw background cues -->
    @for (voterGroup of voterGroups(); track voterGroup) {
        @if (isSingleVoter(voterGroup)) {
            @let ballot = castBallots().get(voterGroup)!()[0];
            <g appCues
                [votingMethod]="votingMethod()"
                [voterOpinions]="voterGroup.getReferenceOpinions()"
                [ballot]="ballot"
            />
        }
    }

    <!-- draw candidates -->
    @for (candidate of candidates(); track candidate) {
        <!-- TODO
        as a draggable
        with event listeners for drag stuff that update its opinions
        -->
        <g appCandidate
            [candidate]="candidate"

            cdkDrag
            [cdkDragFreeDragPosition]="opinionsToPoint(candidate.getOpinions())"
            (cdkDragMoved)="candidate.getOpinions.set(pointToOpinions($event.pointerPosition))"
        />
    }

    <!-- draw voter groups -->
    @for (voterGroup of voterGroups(); track voterGroup) {
        <!-- TODO
        as a draggable
        -->
        @let ballots = castBallots().get(voterGroup)!();
        @if (isSingleVoter(voterGroup)) {
            @let ballot = ballots[0];
            <g appSingleVoter
                [style.transform]="`translate(${voterGroup.getReferenceOpinions()[0]}px, ${voterGroup.getReferenceOpinions()[1]}px)`"
                [votingMethod]="votingMethod()"
                [ballot]="ballot"
            />
        } @else if (isGaussianVoters(voterGroup)) {
            <g appGaussianVoter
                [style.transform]="`translate(${voterGroup.getReferenceOpinions()[0]}px, ${voterGroup.getReferenceOpinions()[1]}px)`"
                [votingMethod]="votingMethod()"
                [ballots]="ballots"
                [offsets]="voterGroup.offsets"
            />
        }
    }
</svg>
