@use "../parts.scss";

:host {
    font-size: 1.125rem;
    line-height: 1.5em;
    background: #222;
    padding-block: 30px;
    padding-inline: 0;
    display: flow-root;
}

p {
    color: #999;
}

p b,
p strong {
    color: #fff;
}

a {
    font-weight: bold;
    color: #cc2727;
}
a:hover {
    color: #dd3838;
}

.credits {
    max-width: 960px;
    margin-block-start: 25px;
    margin-block-end: 50px;
    margin-inline: auto;
    text-align: justify;
}

.uncopyright {
    margin-block-end: 40px;

    display: flex;
    justify-content: space-between;

    img {
        height: 100%;
    }

    .uncopyright-text {
        width: fit-content;
        width: 78%;
        font-size: 1.25rem;

        p {
            margin: 0;
            line-height: unset;
        }
        .pubdom {
            font-size: 5.7rem;
            color: #fff;
            text-align: center;
            font-weight: bold;

            line-height: 1em;
        }
    }
}

#appendix_container {
    display: flow-root;
    padding-block-start: 2px;
}
.appendix_title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}
#further_reading {
    color: #888;
}
