@use "../banners.scss";

.u {
    font-style: normal;

    display: inline-block;
    position: relative;
}
.u::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 0;
    left: 15px;
    right: 20px;
    border-bottom: 10px double;
}
