@use "../parts.scss";

.sim-test {
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;

    margin-top: 50px;
    margin-bottom: 40px;

    > :first-child {
        margin-top: 0;
    }
}
