:host {
    font-size: 25px;
    line-height: 1.2em;
    color: #333;
}

.model-caption {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.model-caption .small {
    font-size: .75em;
}
