.words {
    width: 670px;
    margin: 0 auto;
}

p,
blockquote {
    text-align: justify;
    line-height: 1.7em;
    color: #333;
    margin-inline: 0;
}

p.caption {
    line-height: 1.5em;
    text-align: center;
}

p img {
    height: 1em;
    position: relative;
    top: 3px;
}

p img.real {
    margin: 0 auto;
    display: block;
    height: auto;
}

p .underline {
    text-decoration: underline;
}


hr {
    border: none;
    border-bottom: 5px dashed #ccc;
    margin: 50px 0;
}

li {
    line-height: 1.5em;
}

p.caption-test {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.4em;
}


blockquote {
    border-radius: 5px;
    background: #eee;
    padding: 20px;
    font-size: 1.2em;
    text-align: center;

    font-style: italic;
    color: #000;
    font-weight: bolder;
}
blockquote::before {
    content: open-quote;
}
blockquote::after {
    content: close-quote;
}

blockquote .notquote {
    font-style: normal;
    color: #888;
    font-weight: lighter;
}
blockquote .notquote::before {
    content: "[";
}
blockquote .notquote::after {
    content: "]";
}
