@use "../parts.scss";

.sim-intro {
    // margin: 0 auto;
    // width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sim-intro .caption {
    margin-top: 8px;

    .click-drag-hint {
        font-size: 3.45rem;
    }
}
