body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: #333;
    font-weight: 300;
}

b,
strong {
    font-weight: bold;
}

a {
    color: hsl(240, 80%, 70%);
}

a:hover {
    color: hsl(240, 80%, 80%);
}
