@font-face {
    font-family: "Futura Handwritten";
    src:
        local("Futura Handwritten"),
        url("/futurahandwritten.ttf") format("truetype");
}


html[lang="fr-FR"] {
    quotes: "« " " »";
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.375rem;
    color: #333;
    font-weight: 300;
}

b,
strong {
    font-weight: bold;
}

a {
    color: hsl(240, 80%, 70%);
}

a:hover {
    color: hsl(240, 80%, 80%);
}
