@use "../bottom-buttons.scss";

:host {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
}

.threeparts-container {
    display: flex;
    column-gap: 20px;
    justify-content: center;
}
.left,
.center,
.right {
    height: 320px;
}
.left {
    width: 220px;
}
.center {
    width: 320px;
}
.right {
    width: 220px;
    overflow-y: auto;
}

:host.sandbox {
    button.reset,
    button.save {
        background: white;
        color: #888;
        border: 1px solid #888;
    }

    button.reset:hover,
    button.save:hover {
        margin-block: 0;
        background: white;
        color: #bbb;
        border-color: #bbb;
        border-block-end-color: #888;
    }

    button.reset:active,
    button.save:active {
        margin-block: 0;
        background: white;
        border-block-end-color: #888;
    }

    textarea.description {
        width: 778px;
        height: 97px;
        padding: 10px;
        font-size: 1rem;
    }

    textarea,
    input {
        display: block;
        border: 1px solid #bbb;
        resize: none;
        font-family: Arial, sans-serif;
    }

    .buttons-bottom {
        display: flex;
        column-gap: 10px;
        inline-size: 100%;
    }

    .savelink {
        flex: 1;
        padding: 8px;

        user-select: all;
    }
}
