@use "../bottom-buttons.scss";

:host {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    align-items: center;
}

.left,
.center,
.right {
    float: inline-start;
    height: 320px;
}
.left {
    width: 220px;
}
.center {
    width: 320px;
    margin-inline: 20px;
}
.right {
    width: 220px;
    overflow-y: auto;
}
