/*
:host {
    display: flex;
    justify-content: space-between;
}*/

.left,
.center,
.right {
    float: left;
    height: 320px;
}
.left {
    width: 220px;
}
.center {
    width: 320px;
    margin-inline: 20px;
}
.right {
    width: 220px;
    overflow-y: auto;
}

// TODO #caption and "#right img" goes to the election-results components
