@use "../bottom-buttons.scss";

:host {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    align-items: center;
}

.threeparts-container {
    display: flex;
    column-gap: 20px;
    justify-content: center;
}
.left,
.center,
.right {
    height: 320px;
}
.left {
    width: 220px;
}
.center {
    width: 320px;
}
.right {
    width: 220px;
    overflow-y: auto;
}
