@if (features() >= ElectionModelFeatures.FullSandbox) {
    <textarea class="description" #description [value]="this.description()"></textarea>
}

<div class="threeparts-container">
    <div class="left">
        <!-- buttons, options and stuff -->

        <app-button-group
            question="what voting system?"
            [currentValue]="electionMethod()"
            [options]="electionMethodOptions"
            (choice)="electionMethod.set($event)"
            buttonMinWidth="40%"
        />

        @if (features() >= ElectionModelFeatures.Voters) {
            <app-button-group
                question="how many groups of voters?"
                [currentValue]="voterGroupCount()"
                [options]="voterGroupNumberOptions"
                (choice)="voterGroups.set(electionService.makeVoterGroups($event))"
            />

        }
        @if (features() >= ElectionModelFeatures.VotersAndCandidates) {
            <app-button-group
                question="how many candidates?"
                [currentValue]="candidateCount()"
                [options]="candidateNumberOptions"
                (choice)="candidates.set(electionService.makeCandidates($event))"
            />
        }
    </div>

    <app-voting-model class="center"
        [votingMethod]="votingMethod()"
        [candidates]="candidates()"
        [voterGroups]="voterGroups()"
        [castBallots]="castBallots()"

        [border]="winnerColor()"
    />

    <div class="right">
        <!-- the election results -->
        <!-- TODO maybe make this a collapsable accordion and remove the button group in .left ? -->
        @switch (electionMethod()) {
            @case ("FPTP") {
                <app-fptp-result
                    [candidates]="candidates()"
                    [results]="fptpResultInformation()"
                />
            }
            @case ("IRV") {
                <app-irv-result
                    [candidates]="candidates()"
                    [results]="irvResultInformation()"
                />
            }
            @case ("Borda") {
                <app-borda-result
                    [candidates]="candidates()"
                    [results]="bordaResultInformation()"
                />
            }
            @case ("Condorcet") {
                <app-condorcet-result
                    [candidates]="candidates()"
                    [results]="condorcetResultInformation()"
                />
            }
            @case ("Approval") {
                <app-approval-result
                    [candidates]="candidates()"
                    [results]="approvalResultInformation()"
                />
            }
            @case ("Score") {
                <app-score-result
                    [candidates]="candidates()"
                    [results]="scoreResultInformation()"
                />
            }
        }
    </div>
</div>

<div class="buttons-bottom">
    <button class="reset" (click)="reset()">reset</button>

    @if (features() >= ElectionModelFeatures.FullSandbox) {
        <button class="save" (click)="save()">save:</button>

        <input class="savelink"
            placeholder="[when you save your model, a link you can copy will show up here]"
            readonly
            [value]="saveUrl()"
            (click)="$event.target.select()"
        />
    }
</div>
